@charset "UTF-8";
/*
COLORS

f34213
2e2e3a
bc5d2e
bbb8b2
*/

@font-face {
   font-family: 'myCursive_1';
   src: url(../fonts/cursive/Dr_Sugiyama/DrSugiyama-Regular.ttf) format('truetype');
   font-display: fallback;
}

@font-face {
   font-family: 'myCursive_2';
   src: url(../fonts/cursive/Pinyon_Script/PinyonScript-Regular.ttf) format('truetype');
   font-display: fallback;
}

@font-face {
   font-family: 'myCursive_3';
   src: url(../fonts/cursive/Tangerine/Tangerine-Regular.ttf) format('truetype');
   font-display: fallback;
}

@font-face {
   font-family: 'myCursive_4';
   src: url(../fonts/cursive/WindSong/WindSong-Regular.ttf) format('truetype');
   font-display: fallback;
}

@font-face {
   font-family: 'mySansSerif_1';
   src: url(../fonts/sans-serif/Maven_Pro/MavenPro-VariableFont_wght.ttf) format('truetype');
   font-display: fallback;
}

@font-face {
   font-family: 'mySansSerif_2';
   src: url(../fonts/sans-serif/Orbitron/Orbitron-VariableFont_wght.ttf) format('truetype');
   font-display: fallback;
}

@font-face {
   font-family: 'mySansSerif_3';
   src: url(../fonts/sans-serif/Rajdhani/Rajdhani-Regular.ttf) format('truetype');
   font-display: fallback;
}

@font-face {
   font-family: 'mySerif_1';
   src: url(../fonts/serif/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf) format('truetype');
   font-display: fallback;
}

@font-face {
   font-family: 'mySerif_2';
   src: url(../fonts/serif/Crimson_Text/CrimsonText-Regular.ttf) format('truetype');
   font-display: fallback;
}

@font-face {
   font-family: 'mySerif_3';
   src: url(../fonts/serif/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
   font-display: fallback;
}

:root{
   /*------- COLORS -------*/
   --myred: #f34213;
   --myblack: #2e2e3a;
   --myorange: #bc5d2e;
   --mygrey: #bbb8b2;
   --clrHeaderBG: black;
   --clrHeaderF: white;
   --clrFooterBG: black;
   --clrFooterF: white;
}

*{
   padding: 0px;
   margin: 0px;
   font-family: Arial, Verdana, Tahoma, 'Trebuchet MS', 'Times New Roman', Georgia, Garamond, 'Courier New', 'Brush Script MT';
}

.display_flex{
   display: flex;
}

.bgFixed{
   position: fixed;
   z-index: -1000;
}

.emphasis{
   font-variant: small-caps;
   font-weight: bold;
   color: white;
}

.ltb{
   border-style: solid;
   border-width: .5vw;
   border-color: var(--myred);
   border-image: linear-gradient(to right bottom, var(--mygrey), var(--myorange), var(--myred));
   border-image-slice: 44;

   border-right-style: unset;
   border-right-width: 0px;
   border-right-color: transparent;
}

.trb{
   border-style: solid;
   border-width: .5vw;
   border-color: var(--myred);
   border-image: linear-gradient(to right bottom, var(--mygrey), var(--myorange), var(--myred));
   border-image-slice: 44;

   border-left-style: unset;
   border-left-width: 0px;
   border-left-color: transparent;
}

div#header{
   background-color: var(--clrHeaderBG);
   color: var(--clrHeaderF);
   box-shadow: 0vw .1vh 2.5vh 2.5vh black;
}

header{
   align-content: center;
   justify-content: center;
   position: relative;
   height: 25vw;
   max-height: 166px;
}

header > h1{
   align-self: center;
   justify-self: center;
   font-family: 'myCursive_3';
   font-size: 3.5em;
   text-shadow: .2vw .2vw 3vw var(--myorange);
   text-shadow: 1.5vw 1.5vw 10vw var(--myorange);
   transition: text-shadow .5s ease .3s;
}

header > h1:hover{
   text-shadow: .2vw .2vw 3vw var(--myorange);
   cursor: context-menu;
}

div#header_order_now{
   max-height: 40px;
   height: 7vw;
   max-width: 102.85px;
   width: 18vw;
   position: absolute;
   top: 1px;
   right: 3px;

   align-items: center;
   justify-content: center;

   border-style: solid;
   border-width: 1px;
   border-color: var(--mygrey);
   border-top-color: transparent;
   border-right-color: transparent;

   transform: translate(-1px, -3px);
   transition-duration: .3s;
   transition-delay: .2s;
}

div#header_order_now:hover{
   background-color: var(--myorange);
   border-left-color: var(--myred);
   border-bottom-color: var(--myred);
   transform: translate(1px, 3px);
   transition-duration: .3s;
   transition-delay: .2s;
   cursor: pointer;
}

div#header_order_now > p > a{
   font-family: 'mySansSerif_1';
   font-size: 3vw;
   color: white;
   text-decoration: none;
}

main{
   flex-direction: column;
}

div#intro_banner_bg{
   background-color: var(--myblack);
   background-image: url(../images/chose/intro_banner-edited.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: bottom left;

   bottom: -10vw;
   
   min-height: 200px;
   height: 140vw;
   max-height: 2000px;
   
   width: 100vw;
}

section#intro_banner{
   background-color: transparent;
   box-shadow: inset 5vw 6vh 7vw 3vw rgba(0, 0, 0, 0.815);
   max-height: 440px;
   height: 90vw;
   position: relative;
   flex-direction: column;
}

div#intro_banner_txt{
   padding: 1em;
   line-height: 3em;

   align-self: flex-end;
}

div#intro_banner_txt > h2{
   font-family: 'mySansSerif_3';
   font-size: 7vw;
   color: rgb(231, 231, 231);

   padding: 1em 0em 1em 0em;
   text-align: left;
   text-indent: .7em;
   text-shadow: .5vw .5vw 5vw white;
}

div#intro_banner_txt > p{
   background-color: rgba(0, 0, 0, 0.089);
   font-family: 'mySansSerif_3';
   font-size: 5.2vw;
   color: white;

   padding: .5em .5em .5em .5em;
   text-align: left;
   border-radius: 10px;
}

div#intro_banner_href{
   position: absolute;
   bottom: 0px;
   left: 0px;
}

div#intro_banner_href > p > a{
   font-family: 'mySansSerif_1';
   font-size: 2.5vw;
   color: white;

   text-decoration: none;
   text-align: left;
}

div#intro_banner_href > p > a:hover{
   text-decoration-style: solid;
   text-decoration-line: underline;
   text-decoration-color: var(--mygrey);
   color: var(--mygrey);
}

div#intro_banner_href > p{
   padding: 1em;
}

.parallax_line{
   background-color: transparent;
   height: 7px;
}

/*div#presentment{
   background-color: var(--myorange);
}*/

section#improvement{
   background-color: var(--myorange);
   max-width: 850px;
   margin: auto;
   box-sizing: border-box;

   flex-direction: column;
}

p#presentment_intro{
   font-family: 'mySansSerif_1';
   font-size: 5vw;

   padding: 2em;
   text-align: center;
}

div#cold_emote{
   justify-content: space-between;
   align-content: space-between;
   flex-wrap: nowrap;

   width: 100vw;
   max-width: 850px;
   padding-bottom: 4em;
}

div#cold{
   background-color: white;
   background-image: url(../images/chose/cold-edited.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   height: 40vw;
   max-height: 333.594px;
   width: 30vw;
   max-width: 250.188px;

   border-radius: 0px 21% 15px 0px;
   box-shadow: .2vw .2vw 2vw 2vw rgba(50, 36, 180, 0.753);
}

div#big_big{
   background-color: black;
   height: 40vw;
   max-height: 333.594px;
   width: 30vw;
   max-width: 275.219px;

   border-radius: 21% 21% 15px 15px;
   box-shadow: 1vw 1vw 3vw 2vw rgba(255, 0, 200, 0.267), inset .1vw .1vw 5vw rgba(0, 0, 0, 0.281);
}

div#big_big > p{
   font-family: 'mySansSerif_1';
   color: var(--mygrey);
   font-size: 6vw;
   text-align: center;
   margin-top: 5.5vw;
}

div#big_big > p > strong{
   color: white;
}

div#emote{
   background-color: white;
   background-image: url(../images/chose/emote-edited.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   height: 40vw;
   max-height: 333.594px;
   width: 30vw;
   max-width: 250.188px;

   border-radius: 21% 0px 0px 15px;
   box-shadow: .2vw .2vw 2vw 2vw rgb(255, 68, 0);
}

div#optimism{
   background-color: black;
   color: var(--mygrey);

   max-height: 430px;
   height: 60vw;
   width: 96.5vw;
   max-width: 850px;

   margin: auto;
   align-items: center;
   justify-items: center;
   align-self: center;
}

div#optimism > p{
   background-color: rgb(5, 5, 5);

   font-family: 'mySansSerif_1';
   
   font-size: 4.5vw;
   
   max-height: 180px;
   height: 30vw;
   width: 25vw;

   padding: 1em 1em 2.5em 1em;
   text-align: center;
}

div#joker{
   background-color: white;
   background-image: url(../images/chose/joker-edited-150.png);
   background-size: cover;
   background-position: center center;
   max-height: 327px;
   height: 50vw;
   width: 33vw;

   border-style: solid none;
   border-width: .5vw 0vw;
   border-color: var(--myred) transparent;
   border-image: linear-gradient(to right, var(--mygrey), var(--myorange), var(--myred));
   border-image-slice: 44;
   border-radius: 10px;

   box-shadow: inset 1vw 1vw 4vw 3vw rgba(0, 0, 0, 0.637);
   box-shadow: .5vw .5vw 4vw 3vw rgba(255, 68, 0, 0.151);
}

div#seriousness{
   background-color: white;
   background-image: url(../images/chose/seriousness-edited-300.png);
   background-size: cover;
   background-position: center center;
   height: 66vw;
   max-height: 666px;
   width: 96.5vw;
   max-width: 850px;

   margin: auto;
   align-items: flex-end;
   justify-content: center;
   box-shadow: inset 3vw 3vw 4vw 4vw rgba(0, 0, 0, 0.815);

   border-style: solid;
   border-width: .3vw;
   border-color: var(--myred);
   border-image: linear-gradient(to right bottom, var(--myblack), var(--mygrey), var(--myorange)) 1;
   border-radius: 5px;
   box-sizing: border-box;
}

div#seriousness > p{
   background-color: rgba(0, 0, 0, 0.521);
   color: white;
   font-family: 'mySansSerif_3';
   font-size: 4.5vw;
   
   text-align: center;
   margin-bottom: 2em;
   width: 95vw;

   box-shadow: 0vw 2vw 9vw 1vw rgba(255, 255, 255, 0.144);
   text-shadow: .1vw .1vw .2vw rgba(255, 94, 0, 0.712);
}

article#characteristics{
   background-color: var(--myred);
   position: relative;
   margin: auto;
   max-width: 850px;

   border-radius: 5px 5px 0px 0px;
}

div#char_slides{
   position: relative;
   margin-bottom: 5em;
}

#char_back{
   position: absolute;
   bottom: 25vw;
   left: 3px;
   color: rgba(255, 123, 0, 0.288);
} 

#char_forward{
   position: absolute;
   bottom: 25vw;
   right: 3px;
   color: rgba(255, 123, 0, 0.288);
}

.char_button{
   background-color: transparent;
   height: 8em;
   width: 3em;
   border: none;
   cursor: pointer;
}

#char_back:hover, #char_forward:hover{
   color: var(--myred);
   cursor: pointer;
   transition-duration: .3s;
}

#char_back:hover{
   transform: translate(-2px, 2px);
}

#char_forward:hover{
   transform: translate(2px, 2px);
}

#slideMK_container{
   position: absolute;
   bottom: 5px;
   width: 96.5vw;
   max-width: 850px;
   align-items: center;
   justify-content: space-evenly;
}

.slide_marker{
   background-color: rgba(128, 128, 128, 0.226);
   height: 3px;
   width: 32vw;
   max-width: 150px;
   border-radius: 5px;
}

div#mk_1{
   background-color: rgba(128, 128, 128, 1.0);
}

div#char_id_container{
   max-width: 850px;
   padding: 4em;
}

p#char_intro{
   font-family: 'mySansSerif_1';
   font-size: 3.2vw;
   text-align: justify;
}

.char_titles{
   color: white; 
   font-variant: small-caps;
}

section#individualism{
   background-color: black;
   background-image: url(../images/chose/individualism-edited-500.jpg);
   background-size: cover;

   max-height: 500px;
   height: 75vw;
   box-shadow: inset 2vw 2vw 6vw 4vw rgba(0, 0, 0, 0.445);

   align-items: flex-end;

   transition: opacity 1.3s ease-out;
}

div#idv_txt_container{
   background-color: rgba(0, 0, 0, 0.678);
   padding-bottom: 2em;
}

div#idv_txt_container > p{
   background-color: transparent;
   color: var(--mygrey);

   font-family: 'mySansSerif_1';
   font-size: 3.5vw;
   padding: 2em;

   text-align: center;
}

section#diversion_attention{
   background-color: black;
   background-image: url(../images/chose/diversion_attention-edited-300.png);
   background-size: cover;
   background-position: center center;

   position: absolute;
   top: 0px;

   max-height: 500px;
   height: 75vw;
   box-shadow: inset 2vw 2vw 6vw 4vw rgba(0, 0, 0, 0.445);

   align-items: center;

   opacity: 0;
   transition: opacity 1.3s ease-out;
}

div#datt_txt_container{
   background-color: rgba(0, 0, 0, 0.678);
   padding-bottom: 3em;
}

div#datt_txt_container > p{
   background-color: transparent;
   color: var(--mygrey);

   font-family: 'mySansSerif_1';
   font-size: 3.5vw;
   padding: 2em;

   text-align: center;
}

section#perfectionism{
   background-color: black;
   background-image: url(../images/chose/perfectionism-edited-300.png);
   background-size: cover;
   background-position: right;

   position: absolute;
   top: 0px;
   
   max-height: 500px;
   height: 75vw;
   box-shadow: inset 2vw 2vw 6vw 4vw rgba(0, 0, 0, 0.445);

   align-items: flex-start;

   opacity: 0;
   transition: opacity 1.3s ease-out;
}

div#pfct_txt_container{
   background-color: rgba(0, 0, 0, 0.678);
   padding-bottom: 3em;
}

div#pfct_txt_container > p{
   background-color: transparent;
   color: var(--mygrey);

   font-family: 'mySansSerif_1';
   font-size: 3.5vw;
   padding: 2em;

   text-align: center;
}

article#story{
   background-color: var(--myblack);
   margin: auto;
}

article#story > section > div > p{
   font-family: 'mySansSerif_3';
}

.story_container{
   max-height: 700px;
   height: 75vw;
   color: white;
}

.txt_marker::before{
   content: '_';
   font-weight: bolder;
   position: absolute;
   top: -6vw;
   font-size: 5vw;
   text-indent: -.8vw;
}

section#story_1{
   background-color: black;
   background-image: url(../images/story_1-full.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

div#story_1_txt{
   background-color: rgba(0, 0, 0, 0.548);
}

p#story_1_txt_1{
   position: relative;
   font-size: 4vw;
   flex: 40%;
   height: fit-content;
   margin: 10vw 0vw 0vw 6vw;

   transition: .2s;
}

p#story_1_txt_2{
   position: relative;
   font-size: 4vw;
   flex: 60%;
   height: fit-content;
   align-self: flex-end;
   margin: 0vw 4vw 8vw 0vw;

   transition: .2s ease;
}

section#story_2{
   background-color: black;
   background-image: url(../images/story_2-full.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: left center;
}

div#story_2_txt{
   background-color: rgba(0, 0, 0, 0.548);
   width: 100vw;
   position: relative;
}

p#story_2_txt_1{
   width: 40vw;
   font-size: 3vw;

   position: absolute;
   right: 2vw;
   bottom: 38vw;
   
   transition: .2s;
}

section#story_3{
   background-color: black;
   background-image: url(../images/story_3-full.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

div#story_3_txt{
   background-color: rgba(0, 0, 0, 0.548);
   position: relative;
   width: 100vw;
}

p#story_3_txt_1{
   position: relative;
   font-size: 3.5vw;
   height: fit-content;
   width: 55vw;
   text-align: justify;
   margin: 11vw 0vw 0vw 7vw;

   transition: .5s ease;
}

p#story_3_txt_2{
   position: absolute;
   bottom: 10vw;
   right: 7vw;
   font-size: 3.2vw;
   height: fit-content;
   width: 60vw;
   text-align: justify;

   transition: .5s ease;
}

section#story_4{
   background-color: black;
   background-image: url(../images/story_4-full.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: left center;
}

div#story_4_txt{
   background-color: rgba(0, 0, 0, 0.548);
   position: relative;
   width: 100vw;
}

p#story_4_txt_1{
   position: relative;
   font-size: 3.3vw;
   height: fit-content;
   width: 61.5vw;
   text-align: justify;
   margin: 15vw 0vw 0vw 25vw;

   transition: .5s ease;
}

p#story_4_txt_2{
   position: absolute;
   bottom: 9vw;
   left: 9vw;

   font-size: 3.3vw;
   height: fit-content;
   width: 60vw;
   text-align: justify;

   transition: .5s ease;
}

section#story_5{
   background-color: black;
   background-image: url(../images/story_5-full.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: left center;
}

div#story_5_txt{
   background-color: rgba(0, 0, 0, 0.548);
   position: relative;
   width: 100vw;
}

p#story_5_txt_1{
   position: relative;

   font-size: 2.875vw;
   letter-spacing: .3vw;
   height: fit-content;
   width: 55vw;
   text-align: justify;
   margin: 11vw 0vw 0vw 4vw;

   transition: .5s ease;
}

p#story_5_txt_2{
   position: absolute;
   bottom: 19vw;
   left: 16vw;

   font-size: 2.9vw;
   letter-spacing: .2vw;
   line-height: 1.5em;
   height: fit-content;
   width: 75vw;
   text-align: center;

   transition: .5s ease;
}

section#skills{
   background-color: var(--myred);
   max-width: 850px;
   margin: auto;
}

section#skills > ul{
   list-style: none;
}

section#disadvantages{
   background-color: var(--myorange);
   max-width: 850px;
   margin: auto;
}

footer{
   height: 10vh;
   background-color: var(--clrFooterBG);
   color: var(--clrFooterF);
}

footer > p, footer > p > b{
   font-family: 'mySerif_1';
}