@charset "UTF-8";
@import url(styles-all.css);

header{
   max-height: 130px;
}

header > h1{
   font-size: 6.5vw;
}

nav > ul{
   display: flex;
   list-style: none;
}

nav > ul > li{
   font-family: 'mySansSerif_3';
   font-size: 1.1em;
   color: var(--mygrey);
   padding: 0.6em 0.75em;
   
   border-left: 2px solid var(--myblack);
   transition: .7s ease-out;
}

nav > ul > li > a{
   font-family: 'mySansSerif_3';
   font-size: 1.1em;
   text-decoration: none;
   color: var(--mygrey);
}

#nav_li_1{
   margin-left: 10px;
}

#nav_li_4{
   height: 1.5em;
   font-size: 0.95em;
   margin-right: 10px;
   padding: 0.4em 0.3em;

   position: absolute;
   right: 0px;
   
   border-left: 2px solid var(--myblack);
   align-self: center;

   transition: .7s ease 0.2s;
}

#nav_li_4:hover{
   background-color: var(--myred);
   border-left: 2px solid white;
   color: white;

   transform: translate(5px, 5px);
}

nav > ul > li:hover{
   background-color: var(--myblack);
   text-shadow: 3px 3px 4vw white;
   cursor: pointer;
}

div#intro_banner_bg{
   bottom: -12em;
}

div#intro_banner_txt > h2{
   font-size: 5.3vw;

   text-indent: 1em;
   text-shadow: .6vw .6vw 5.5vw white;
}
div#intro_banner_txt > p{
   font-size: 4.5vw;
}
div#intro_banner_href > p > a{
   font-size: 1.5vw;
}

p#cutting_edge{
   display: none;
}

div#seriousness > p{
   font-size: 2.5em;
}

#extra_knowledge_text{
   flex: 45%;
   display: flex;
   justify-content: center;
   align-items: center;
}

#extra_knowledge_text > p{
   font-size: 4vw;
}

#knowledge_container{
   flex: 55%;
}

#knowledge_container > p{
   width: 55vw;
   font-size: 3.8vw;
   margin: 2vw 0;
}

#knowledge{
   height: 33vw;
   width: 55vw;
}

.knowledge_elem{
   flex: 25%;
   height: 15vw;
}

.knowledge_elem > p{
   width: 21vw;
   height: 12vw;
   font-size: 2vw;
   padding: 1em;
}

.knowledge_elem > p > strong{
   font-size: 2.5vw;
}

.knowledge_elem > p::after{
   top: unset;
   right: unset;
   bottom: 0;
   left: 0;
   
   height: 3vw;
   width: calc(21vw + 1em);
   padding: 0;

   visibility: visible;
}

#knowledge_1 > p::after{
   background-color: rgb(0, 36, 0);
}

#knowledge_2 > p::after{
   background-color: rgb(62, 77, 0);
}

#knowledge_3 > p::after{
   background-color: rgb(63, 10, 0);
}

#knowledge_4 > p::after{
   background-color: rgb(1, 43, 1);
}